*{
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --clr-1: #0D1282;
    --clr-2: #FAE733;
    --clr-3: #fff;
    --clr-4: #de1d1d;
    --clr-5: #000;
    --clr-6: #00022e;
    --clr-7: #343a40;
}

.logo {
    height: 8vh;
}

.navbar {
    background-color: white !important; 
    box-shadow: 0 1px 4px rgb(0,0,0,0.5) !important;
}

.home-banner {
    height: calc(100vh - 16vh);
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: var(--clr-3);
    color: var(--clr-5);
}

.inbox {
    font-weight: bold;
    font-size: inherit;
    color: var(--clr-4);
}

.guard {
    font-weight: bold;
    font-size: inherit;
    color: var(--clr-2);
}

.btn {
    width: 200px;
    padding:1rem;
    border-radius: 1rem;
    background-color: var(--clr-4);
    color: var(--clr-3);
    font-weight: bold;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 2;
    border-radius: 1rem;
    background-color: var(--clr-4);
    color: var(--clr-3);
    font-weight: bold;
}

.btn:hover {
    color: var(--clr-2);
    background-color: var(--clr-1);
}

.banner-title {
    font-size: 4rem;
    color: var(--clr-1);
    font-weight: bold;
}

.home-img {
    width: 100%;
    height: auto;
}

/* 
.login-banner, .signup-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-banner .container, .signup-banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.login-user {
    width: 100%;
}

.login-signup {
    text-decoration: none;
    color: blue;
}

#form-group {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
} */

.rounded {
    border-radius: 25px;
}

.subject {
    font-weight: bold;
}

.details {
    font-size: 0.9em;
}

.sender {
    font-size: 0.9rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.pagination a {
    margin: 0 5px; 
    padding: 8px 12px; 
    text-decoration: none; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.pagination a.active {
    background-color: #007bff;
    color: white; 
}

.pagination a:hover {
    background-color: #0056b3;
    color: white;
}

.email-body {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.classification-safe {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    display: inline-block;
}

.classification-malicious {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    display: inline-block;
}

.classification-default {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    display: inline-block;
}

.view-email-container {
    padding: 5%;
}

.email-container {
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-container:hover {
    background-color: #f0f0f0;
}

.email-container:active {
    background-color: #ccc;
}


.classification-safe {
    background-color: green;
    color: white;
    padding: 0.2% 1%;
    border-radius: 2rem;
    display: inline-block;
}

.classification-malicious {
    background-color: red;
    color: white;
    padding: 0.2% 1%;
    border-radius: 2rem;
    display: inline-block;
}


.about-us-section h1 {
    font-size: 4rem;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.about-us-section .statistics .row {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    align-items: center;
    color: var(--clr-3);
    background-color: var(--clr-6);
    height: max-content;
    flex-direction: column;
}

footer p {
    margin-bottom: 0;
}

footer .row {
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 2% 0 0 0;
}

footer .col {
    margin: 0 0 0 6%;
}


footer a {
    text-decoration: none;
}

footer i {
    font-size: 150%;
    color: var(--clr-3);
    transition: color 0.3s ease;
}

footer i:hover {
    color: var(--clr-2);
}

.privacy-policy {
    padding: 5% 20%;
}

.privacy-policy h5, h2 {
    color: var(--clr-7);
    font-weight: bold;
}

.expand-all {
    text-decoration: none;
}

.expand-all-container {
    display: flex;
    justify-content: flex-end;
}

.collapse-title {
    margin: 4% 0;
}

.collapse-title .row {
    display: flex;
    flex-direction: row !important;
    border-bottom: 1px solid var(--clr-7);
}

.collapse-title .arrow {
    display: flex;
    justify-content: flex-end;
}

.collapse-title a {
    text-decoration: none;
    color: var(--clr-7);
}

.collapse-title i {
    font-size: 80%;
}

.card .card-body {
    max-width: 100%;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .home-banner {
        height: auto;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .home-banner h1 {
        font-size: 48px;
    }

    .home-banner img {
        max-width: 70%;
        margin: 0 auto;
        height: auto;
    }

    .home-banner .btn {
        padding: 0.50rem;
        font-size: 16px;
        margin-top: 1rem;
    }

    .col-md-6 {
        width: 100%;
        padding: 1rem 0;
    }

    .container {
        max-width: 100%;
        padding: 0 2rem;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .home-banner {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--clr-3);
        color: var(--clr-5);
        margin-bottom: 2rem;
        padding: 0 2rem 0 2rem;
    }

    .home-banner .col-md-6 {
        width: 100% !important;
        flex: 0 0 100% !important;
    }
    
    .home-banner .row {
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
    }

    .home-banner .banner-title {
        font-size: 2rem;
    }

    .home-banner h1 {
        font-size: 2rem;
    }

    
    footer h1 {
        padding: 4% 0 0 0;
        font-size: 1.2rem;
    }

    footer h3 {
        font-size: 1.1rem;
        padding: 4% 0 0 0;
    }
    
    footer i {
        font-size: 100%;
        margin: 1% !important;
    }

    footer p, a {
        font-size: 0.85rem;
    }
    
    .home-banner h5 {
        text-align: left;
        font-size: 0.8rem;
    }
    
    .home-banner h5 {
        font-size: 1rem;
    }

    .home-banner img {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .home-banner .btn {
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
    }

    .dashboard-container {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .email-container {
        padding: 5%;
    }

    .subject {
        font-size: 1rem;
    }

    .view-email-subject {
        font-size: 1.4rem;
    }

    .email-body, .sender-date {
        font-size: 0.9rem;
    }

    .details, .sender {
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%; 
    }
    
    .classification-safe, 
    .classification-malicious {
        font-size: 0.85rem;
    }
    
    .about-us-section .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .about-us-section h1 {
        font-size: 2rem;
    }

    .about-us-section p {
        font-size: 0.9rem;
    }

    .about-us-section .italic, .bold {
        font-size: 0.9rem;
    }

    .about-us-section .container {
        margin-left: 0;
        margin-right: 0;
        max-width: max-content;
    }

    .about-us-section .col {
        margin-bottom: 1rem;
    }

    .about-us-section .row .col.container h1, h2 {
        font-size: 1.5rem;
    }

    .about-us-section .row .col.container p {
        font-size: 0.85rem;
    }
     
    .privacy-policy {
        padding: 5% 16%;
    }

    .privacy-policy p, .card-body li, .card-body strong, .expand-all {
        font-size: 0.85rem;
    }

    .privacy-policy h1 {
        font-size: 1.5rem;
    }

    .privacy-policy h5 {
        font-size: 1rem;
    }

    .privacy-policy i {
        font-size: 75%;
    }
}

@media (max-width: 480px) {
    .home-banner .row {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .home-banner {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--clr-3);
        color: var(--clr-5);
        margin-bottom: 2rem;
        padding: 0;
    }

    .home-banner .banner-title {
        font-size: 1.2rem;
    }

    .home-banner h1 {
        text-align: left;
    }

    
    footer h1 {
        padding: 4% 0 0 0;
        font-size: 1.1rem;
    }

    footer h3 {
        font-size: 1rem;
        padding: 4% 0 0 0;
    }
    
    footer i {
        font-size: 100%;
        margin: 1% !important;
    }

    footer p, a {
        font-size: 0.8rem;
    }
    
    .home-banner h5 {
        text-align: left;
        font-size: 0.8rem;
    }

    .home-banner .btn {
        padding: 0.5rem 0.8rem;
        font-size: 0.8rem;
    }

    .dashboard-container {
        padding: 4% !important;
        margin: 0;
        font-size: .4rem;
    }

    .dashboard-header {
        padding: 4% !important;
    }

    .dashboard {
        padding: 4% !important;
    }

    .dashboard h1 {
        font-size: 1.5rem;
    }

    .dashboard h4 {
        font-size: 1.2rem;
    }

    .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .email-container {
        padding: 4%;
    }

    .subject, .email-address {
        font-size: 0.9rem;
    }
    
    .details, .sender {
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%; 
    }

    .view-email-subject {
        font-size: 1.2rem;
    }

    .email-body, .sender-date {
        font-size: 0.8rem;
    }

    .classification-safe, 
    .classification-malicious {
        font-size: 0.75rem;
    }

    .about-us-section .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .about-us-section h1 {
        font-size: 1.5rem;
    }

    .about-us-section p {
        font-size: 0.8rem;
    }

    .about-us-section .italic, .bold {
        font-size: 0.8rem;
    }

    .about-us-section .container.shadow {
        padding: 15px;
    }

    .about-us-section .row .col.container h1, h2 {
        font-size: 1.25rem;
    }

    .about-us-section .row .col.container p {
        font-size: 0.75rem;
    }

    .about-us-section .statistics .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

    }

    .privacy-policy {
        padding: 8% 12%;
    }

    .privacy-policy p, .card-body li, .card-body strong, .expand-all {
        font-size: 0.8rem;
    }

    .privacy-policy h1 {
        font-size: 1.25rem;
    }

    .privacy-policy h5 {
        font-size: .8rem;
    }

    .privacy-policy i {
        font-size: 70%;
    }
}